<%= stylesheet_link_tag "style", :media => "all" %>
<% if session[:user_id] %>
  <header class="clearfix">
   <div class="headercenter">
     <%= render "/signed/base/header" %>
   </div>
  </header>
<% else %>
  <header class="clearfix">
    <div class="headercenter">
      <div class="span21 loginhdr" >
          <div class="span5">
            <%= link_to(image_tag("/img/homepage_logo.png"),root_path) %>
          </div>  
          <div class="span11">
          <br>
        <%= form_tag unsigned_search_index_path, :method => :get do %>
          <div class="input-append">
            <select style="width:120px;" name="model_type" onchange="assign_type($(this).val())">
              <option value="Feed" >Posts</option>
              <option value="User">Connections</option>
            </select>
              <input class="span7" name="keyword" type="text" style="width:254px;" placeholder="Search public posts or profiles..." onkeyup="fetch_tags($(this).val())" id="tag_search" />
            <span class="add-on" style="height:20px;"><input type="image" src="/img/relayimg/search_icon.png" /></span>
          </div>
          <span style="padding-top: 30px;">
            <div id="hash_tags" style = "display:none;"></div>
          </span>
        <% end %>
          </div>
        <br>
        <div class="span5 pull-right">   
          <font color="white">Already Member? </font> 
          <%= link_to 'Log In', unsigned_home_index_path, :class => "btn btn-primary " %>
        </div>
      </div>
    </div>
 </header>
<% end %>
<div class="span16 offset2 aboutfix">
  <h3 style="color: #17365D">About US</h3>
    <div class = "container">
    <h4 style="color: #17365D">About Us</h4>
      <P>Welcome to 'Wallclipping.' We all need an avenue to let out experiences, share opportunities and connect with the world that value your interests. 'Wallclipping',
      is the social platform that will lighten and enrich you and others.</P>
     
    <h4 style="color: #17365D">Our Mission</h4>
      <p>Our mission is to build 'Wallclipping' platform to give people the power to express 
      and make the world a better place and connected. People use Wallclipping to communicate 
      openly or discreetly what matters to them with their friends, family and fans.</p>

    <h4 style="color: #17365D">The Team</h4>
      <p>We are a spirited team constantly pushing the limits of innovation and bring new experiences to the platform. If you like to join us, reach us at contact@recommnedone.com</p>
  </div>  

</div>


<footer class="clearfix footer_main">
  <div id="copyright">
    <p><span class="copyrightf">&copy; Wallclipping</span>
        <a href="/unsigned/home/about_us">About us</a>   
        <a href="/unsigned/home/terms">Terms</a>  
        <a href="/unsigned/home/privacy_cookies">Privacy & Cookies</a>  
        <a href="/unsigned/home/help_center">Help Center</a>  
        <a href="/unsigned/home/whats_new">What's New</a>  
        <a href="/unsigned/home/feed_back">Feedback</a></p>
  </div>
</footer>