<%# @feed.build_feed_image %>
<%=simple_form_for @feed_image, url: create_photo_signed_feeds_path, remote: true do |f|%>
  <div style='position:relative;top:100px;width:50%'>
    <%= f.input :feedimage,:as => :file,label:false %>
    <div class="file_format_notice" style="width:400px;position:absolute;top:35px;height:auto;color:red">
    </div>
    <%= hidden_field_tag 'feed_photo_id', '', class: 'feed_photo_id' %>
    <%=image_tag 'Spinner.gif', id: 'loader', style: "position:absolute;left:258px;top:8px;display:none"%>
  </div>
<%end%>

<%= simple_form_for([:signed, @feed], :remote => true) do |f| %>
  <%= f.input :feed, :as => :text, :placeholder => 'What do you recommend today?' , label:false, :input_html => {  :rows => 3, :style => "resize: none; width:260px;position: relative;top: -51px; ", :onkeyup => "display_hash_content()"} %>
  <%= f.input :user_id, :as => :hidden, :input_html => {:value => current_user.id} %>
  <%= f.input :feed_type_id, :as => :hidden, :input_html => {:value => @feed.feed_type_id} %>
  <%= hidden_field_tag 'feed_photo_id', '', class: 'feed_photo_id' %>
  <div class="file_upload_status" style="color:green;font-weight:200;font-style:italic;display:inline;font-size:13px;">
  </div><br>

   <%#= f.fields_for @feed_image do |fi| %>
       <%# fi.input :feedimage,:as => :file,label:false %>
   <%# end %>
  <br>
  <%= f.select :sub_category_id, grouped_options_for_select(@sub_categories), {:prompt => "Select category for recommendation"} %>
  
<br>
<br>
  <%= render "feed_channels", :f => f %>
<br>
<br>
<% end %>
<%#=javascript_include_tag 'jquery.form.js'%>
<script>
$(document).ready(function() {
  $("#photos_form").msDropdown();
  $("#photos_form").data("dd");
  $("#feed_image_feedimage").change(function(){
    $(".new_feed_image").ajaxForm().submit();
    // $(this).css('visibility','hidden');
    $("#loader").show();
    $('.file_upload_status').html(" ");
    $('.file_format_notice').html(" ");
  });
});
</script>

<style type="text/css">
  .ddChild{
    height:auto !important;
  }
</style>

